@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1,
h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: bold;
}

p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar li {
  list-style: none;
  margin-right: 2rem;
  font-size: 1.2rem;
}

.main-header {
  padding: 0.6rem 0rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-bar nav {
  display: flex;
  align-items: center;
}

.nav-bar nav ul {
  display: flex;
  margin-bottom: 0;
}

.nav-button {
  width: 8rem;
  height: 3rem;
  background-color: white;
  border: 2px solid red;
  color: red;
}

.nav-button:hover {
  background-color: red;
  color: white;
}

/* main-section */

.header {
  background: linear-gradient(
    254.93deg,
    #ede5ff 6.57%,
    #beccff 32.32%,
    #ebe2ff 49.03%,
    #ede5ff 70.88%,
    #ccd7ff 89.25%,
    #e4c9ff 99.41%
  );
  height: 40rem;
  margin: 0;
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 31rem;
  padding: 1.25rem;
  width: 25rem;
  border-bottom-right-radius: 25%;
  border-top-left-radius: 25%;
}

.header-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.h-input {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

/* SECTİON-ONE */

.section-one {
  background-color: #efefef;
}

.one-top {
  padding: 2rem;
  text-align: center;
}
.one-top h1 {
  font-size: 3.75rem;
  line-height: 1.0625;
}
.one-top p {
  font-size: 1.5rem;
}

.section-one .one-number p {
  text-align: center;
  font-size: 1.2rem;
}

.section-one .no {
  font-size: 8rem;
  color: red;
  text-align: center;
}

.section-one .no-b {
  color: blue !important ;
}

/* SECTİON-TWO */

.section-two .row {
  display: flex;
  justify-content: space-around;
  margin: 4rem 4rem;
}
.section-two .col-4 {
  height: 35rem;
  background-color: #84ccdc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 29%;
  padding: 3rem;
}

.section-two .col-4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-two .col-4 h1,
p,
li {
  max-width: fit-content;
  max-height: fit-content;
}

.section-two .col-4-blue {
  background-color: #3740b5 !important;
  color: #fff;
}

.section-two .col-4-yellow {
  background-color: #ffcd34 !important;
  color: black;
}

.section-two .col-4 h1 {
  font-size: 3rem;
}
.section-two .col-4 p {
  font-size: 1.5rem;
}

.section-two .col-4 li {
  font-size: 1.5rem;
}

/* SECTİON-THREE */
.section-three {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.col-6-img {
  display: flex;
  justify-content: center;
}

.col-6-img img {
  width: 33rem;
  height: 30rem;
}
.col-6-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.col-6-text h1 {
  color: #e41f26;
  font-size: 3.2rem;
  line-height: 1.0625;
  margin-bottom: 5rem;
}
.col-6-text p {
  font-size: 1.3rem;
  line-height: 1.8;
}

.t__t {
  position: relative;
}

.col-6-text h2 {
  color: #e41f26;
  font-size: 7rem;
  position: absolute;
  top: -5rem;
}

/* mobile */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  /* HEADER */
  .header {
    height: max-content;
  }

  .header-text {
    width: 90%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-text h1,
  p {
    text-align: center;
  }
  .header-form {
    width: 90%;
    margin: 2rem;
  }

  /* SECTİON-ONE */
  .section-one .one-number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-one .one-top {
    text-align: center;
  }

  .section-one .one-number .col-4 {
    width: 100%;
    text-align: center;
  }

  .section-one .one-number .col-4 p {
    padding: 0 7.5rem;
  }

  /* SECTİON-TWO */
  .section-two .row {
    flex-direction: column;
  }

  .section-two .col-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    background-color: #84ccdc;
  }

  .section-two .col-4-yellow {
    background-color: #ffcd34 !important;
    color: black;
  }

  /* SECTİON-THREE */
  .section-three .row {
    flex-direction: column;
    align-items: center;
  }

  .section-three .col-6-text {
    width: 80%;
    display: flex;
  }

  .section-three .col-6-text h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
